
<svg width="500" height="300">
  <rect x="10" y="150" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M60 165 L100 105"/>
  <path class="lig" d="M60 165 L100 235"/>

  <rect x="100" y="90" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="100" y="220" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M150 105 L190 65"/>
  <path class="lig" d="M150 105 L190 145"/>
  <path class="lig" d="M150 235 L190 205"/>
  <path class="lig" d="M150 235 L190 265"/>

  <rect x="190" y="50" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="130" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="190" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="250" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M240 65 L280 25"/>
  <path class="lig" d="M240 65 L280 65"/>
  <path class="lig" d="M240 65 L280 105"/>
  <path class="lig" d="M240 205 L280 185"/>
  <path class="lig" d="M240 205 L280 225"/>
  <path class="lig" d="M240 265 L280 265"/>

  <rect x="280" y="10" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="50" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="90" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="170" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="210" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="250" rx="5" ry="5" width="50" height="30" class="rect" />
</svg>
<svg width="500" height="300">
  <rect x="10" y="150" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M60 165 h20"/>
  <path class="lig" d="M80 105 L80 235"/>
  <path class="lig" d="M80 105 h20"/>
  <path class="lig" d="M80 235 h20"/>

  <rect x="100" y="90" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="100" y="220" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M150 105 h20"/>
  <path class="lig" d="M170 65 L170 145"/>
  <path class="lig" d="M170 65 h20"/>
  <path class="lig" d="M170 145 h20"/>
  <path class="lig" d="M150 235 h20"/>
  <path class="lig" d="M170 205 L170 265"/>
  <path class="lig" d="M170 205 h20"/>
  <path class="lig" d="M170 265 h20"/>


  <rect x="190" y="50" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="130" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="190" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="250" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M240 65 h20"/>
  <path class="lig" d="M260 25 L260 105"/>
  <path class="lig" d="M260 25 h20"/>
  <path class="lig" d="M260 65 h20"/>
  <path class="lig" d="M260 105 h20"/>

  <path class="lig" d="M240 205 h20"/>
  <path class="lig" d="M260 185 L260 225"/>
  <path class="lig" d="M260 185 h20"/>
  <path class="lig" d="M260 225 h20"/>

  <path class="lig" d="M240 265 L280 265"/>

  <rect x="280" y="10" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="50" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="90" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="170" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="210" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="250" rx="5" ry="5" width="50" height="30" class="rect" />
</svg>
<svg width="500" height="300">
  <rect x="10" y="150" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M60 165 C 80 165, 80 145, 80 135 S 80 105, 100 105"/>
  <path class="lig" d="M60 165 C 80 165, 80 185, 80 195 S 80 235, 100 235"/>

  <rect x="100" y="90" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="100" y="220" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M150 105 C 170 105, 170 95, 170 85 S 170 65, 190 65"/>
  <path class="lig" d="M150 105 C 170 105, 170 115, 170 125 S 170 145, 190 145"/>
  <path class="lig" d="M150 235 C 170 235, 170 230, 170 220 S 170 205, 190 205"/>
  <path class="lig" d="M150 235 C 170 235, 170 240, 170 250 S 170 265, 190 265"/>

  <rect x="190" y="50" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="130" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="190" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="190" y="250" rx="5" ry="5" width="50" height="30" class="rect" />
  <path class="lig" d="M240 65 C 260 65, 260 55, 260 45 S 260 25, 280 25"/>
  <path class="lig" d="M240 65 C 260 65, 260 75, 260 85 S 260 105, 280 105"/>
  <path class="lig" d="M240 65 L280 65"/>
  <path class="lig" d="M240 205 C 260 205, 260 200, 260 195 S 260 185, 280 185"/>
  <path class="lig" d="M240 205 C 260 205, 260 210, 260 215 S 260 225, 280 225"/>
  <path class="lig" d="M240 265 L280 265"/>

  <rect x="280" y="10" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="50" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="90" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="170" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="210" rx="5" ry="5" width="50" height="30" class="rect" />
  <rect x="280" y="250" rx="5" ry="5" width="50" height="30" class="rect" />
</svg>
